* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
body {
  width: 75%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
}

/* General --> Main */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.col {
  width: 20%;
  
}

.col.left {
  float: left;
  margin-right: 2%;
}

.col.right {
  float: right;
  margin-left: 2%;
}

.center {
  float: left;
  width: 56%;
  ;
}

.box {
  height: 160px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  border-radius: 2%;
  overflow: hidden;
}

.box.img1 {
  background-image: url(img/img-1.jpg);
}

.box.img2 {
  background-image: url(img/banner-2.jpg);
}

.box.img3 {
  background-image: url(img/img-3.jpg);
}

/* Header */
.container-top {
  margin-bottom: 20px;
}

#logo {
  display: inline-block;
  width: 15%;
  padding-right: 10px;
  border-right: 1px solid lightgray;
  margin-bottom: 30px;
}

/* Nav --> Menu */

nav ul{
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a{
  color: gray;
  font-size: 12px;
  text-transform: uppercase
}

nav ul li a:hover{
  color: black;
}

/* Jumbotron */
.jumbotron {
  background-image: url(img/banner.jpg);
  background-position: center;
  height: 442px;
  border-radius: 2%;
  overflow: hidden;
  margin-bottom: 20px;
}

.jumbotron .overlay.text {
  padding-top: 290px;
  padding-left: 95px;
}

.overlay.text h3, p {
  width: 60%;
  color: white;
}

/* Main */
main {
  padding-bottom: 20px;
}

main .top {
  margin-bottom: 20px;
}

main .top h1 {
  font-size: 25px;
  margin-bottom: 1px;
} 

span {
  font-size: 12px;
  color: gray;
}

/* Footer */
footer {
  text-align: center;
  margin-bottom: 20px;
}

footer span {
  font-size: 13px;
}

#hearth {
  color: red;
}

/* Ricorda: clarfix non funzionava perchè avevo tolto l'altezza fissa solo al div contenitore, non al main */

/* Ricorda suggerimento Simone: non impostare mai altezze fisse ai contenitori. Le altezze fisse devono essere impostate ai soli contenuti e devono essere impostate in px -- è insidioso in % -- */

/* Impostare margini direttamente in body evitando il passaggio qui costruito [VEDI: header, main, footer]
{Fixed} */